
<input type="text" ng-model="vm.searchRequest.name" placeholder="enter name" />
<input type="text" ng-model="vm.searchRequest.phone" placeholder="enter phone" />
<button ng-click="vm.search()">Search</button>
<table>
    <thead>
        <tr>
            <td ng-click="vm.sort('name')">Name</td>
            <td ng-click="vm.sort('phone')">Phone</td>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="s in vm.studentList">
            <td>{{s.name}}</td>
            <td>{{s.phone}}</td>
        </tr>
    </tbody>

</table>
<button ng-click="vm.previous()">prev</button>
<label>current :{{vm.searchRequest.Page}}</label>
<button ng-click="vm.next()">next</button>





